
.top-container {
    background-color: #0081C9;
    

}

.middle-container {
    background-color: #FFC93C;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: #5BC0F8;
    height: 200px;
    width: 200px;
}   

