body{
    margin: auto;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

h1 {
    margin: 0;
    font-family: 'dancing script', cursive;
    
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

.top-container {
    background-color:#A6E3E9;
    position: relative;
    margin: auto;
    padding-top: 100px;
    

}

.middle-container { 
    margin: auto;
}

.bottom-container {
    margin: auto;
} 

.top-cloud {
    position: absolute;
    right: 35%;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    left: 35%;
    bottom: 300px;
}

.icons {
    width: 50px;   
    height: 50px;
    padding-top: 5px;
}