body{
    margin: auto;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1em;
    }
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'dancing script', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.top-container {
    background-color:#A6E3E9;
    position: relative;
    margin: auto;
    padding-top: 100px;
    

}

.middle-container { 
    margin: auto;
}

.bottom-container {
    margin: auto;
} 

.top-cloud {
    position: absolute;
    right: 35%;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    left: 35%;
    bottom: 300px;
}

.code-sign-1 {
    width: 10%;
}

.code-sign-2 {
    width: 15%; 
    float: left;
    margin-right: 30px;
}

.code-icon {
    width: 15%;   
    float: right;
    margin-left: 30px;
    padding-right: 25%;
}
